.CreateGameTextField {
    padding-bottom: 30px;
}

.CreateGameButton {
    background-color: var(--color-primary);
    color: white;
    width: 70%;
    border-radius: 40px;
}

.CreateGameButton:hover {
    background-color: white;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.CreateGameCard {
    background: transparent;
    border: none !important;
    padding: 50px;
}

.CreateGameCardHeader {
    text-align: center;
}

.CreateGameCardContent {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.CreateGameCardAction {
    justify-content: center;
}